body
{
    background-color: #3a3941;
    margin: 0px;
    border: 3px solid rgb(251 255 76);
}
.Navbar
{
    margin-left: 2em;
    margin-top: 3em;
    color: white;
    display:inline-block;
    
}

.Navitems
{
    margin-left: 31em;
    margin-bottom: 5em;

}
.icon
{
    color: rgb(251 255 76);
    top: 1.2em;
    position: absolute;
    left: 2em;
    
}
.item 
{
    display:inline-block;
    margin-left: 2em;
    cursor: pointer;
}

.item a
{
    color: white;
    text-decoration: none;
}
.item a:hover
{
    color: rgb(251 255 76);
}
.search
{
    display:inline-block;
    margin-left: 22em;
    background-color: #4e4e51;
    height: 2em;
    width: 8em;
    border-radius:0.5em ;
    text-align: center;
    
}

.search p
{
   
    margin-top: 0.5em;
    margin-right: 1.5em;
    display: inline-block;
}





.search-button {
    background-color: #4e4e51;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    padding: 0.7em 2em  0.5em 0.9em ;
    width: 2.5em;
    margin-right: -1.5em;
    margin-top: -5em;
    
}

.search-button:hover {
    background-color: #7b7b80;
}





.Mesection
{
    display: inline-block;
    color: white;
    margin-left: 8em;
    font-size: 1.2em;
    position: absolute;
    margin-top:2em ;
}

.Mesection em
{
    
    color:rgb(251 255 76);
    font-size: 1.7em;
    margin-left: 0.2em;
    margin-bottom: 3em;
}

.Mesection button
{
    color:rgb(251 255 76);
    background-color:#3a3941;
    border: 0.3em solid rgb(251 255 76);
    padding: 0.4em 1.2em;
    margin-left: 0.2em;
    border-radius: 0.5em;
    cursor: pointer;
    display: inline;
}

.Mesection button:hover
{
    background-color:rgb(251 255 76);
    color:#3a3941;
}

.personal-image
{
    display: inline-block;
    height: 15em;
    margin-left: 8em;
    margin-top: 1em;
    border-radius: 50%; 
    object-fit: cover;
}


.Aboutsection
{
    color:white;
    margin: 5em;
}

.Aboutsection h2
{
    margin-bottom: 0.5em;
    font-size: 3em;
}
.Aboutsection hr
{
    border: none;
    border-top: 2px solid rgb(251 255 76);
    
    width: 3.5%;
    display: inline-block;
}
.Aboutsection p
{
    font-size: 1.2em;
    width: 80%;
    position: absolute;
    right:7.5em;
 
    margin-left: 1em; 
    margin-top: -1.2em;
   
}

table
{
    margin-top:10em ;
    width: 100%;
   text-align: center;
   

}
table caption
{
    font-size: 3em;
    color: white;
}
table tr
{
    width: 100%;
    display: flex; /* Use flexbox to arrange buttons horizontally */
    justify-content: center; /* Center align buttons horizontally */
    gap: 20px; /* Space between buttons */
    margin-top: 20px; /* Top margin */
}
table button
{
    width: 15em;
    height: 12em;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    border: none; 
    border-radius: 1em;
    display: inline-flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 10px; 
    background-color: #4e4e51; 
    color: white;
    cursor: pointer; 
    transition: background-color 0.3s ease; 

   

  
   
    
}

table button:hover {
    background-color: rgb(251 255 76); 
    color:#4e4e51 ;
}


table i
{
    font-size: 4rem; /* Icon size */
    margin-bottom: 0.5rem; /* Space between icon and text */   
    
}

.html , .git
{

    color:chocolate;
}

.python
{
    color: rgb(57, 228, 171);
}

.css
{
    color: rgb(54, 54, 236);
}

.database
{
    color: greenyellow;
}
.js
{
    color:yellow;
}
.java
{
    color: blueviolet;
}

.react
{
    color: rgb(90, 90, 231);
}











.Experience-section
{
    margin-top: 8em;
    padding: 0.2em 8em 0em 8em;
    color: white;
    background-color: #56565c;
    height: 30em;
}

.Experience-section h2 
{
    font-size: 3em;
}

.circle
{
    width: 1.5em; /* Diameter of the circle */
    height: 1.5em;
    background-color: yellow; /* Circle color */
    border-radius: 50%; /* Makes the element round */
    display: inline-block; /* Flexbox for centering content */
    margin-left: 4.1em;
    margin-bottom: 0.2em;
          
}

.Experience-section hr
{
    border: none;
    border-left: 4px solid white; /* Line width and color */
    height: 16em; /* Line height */
    margin: 0 ; /* Optional: adds space around the line */
    margin-left: 4.7em;

}

.ex
{
    position: relative;
    bottom: 19.9em;
    left:7em
}

.ex h4
{
    margin-bottom: 0em;
    font-size: 1.5em;
}
.ex li
{
    margin-bottom: 0.5em;
}




.contact-section
{
    color: white;
    background-color: #1d1c22;
    padding: 0.5em 0em 5em 0em ;
    text-align: center;
}

.contact-section h3
{ 
    font-size: 3em;
}

.contact-section p
{
    display: inline-block;
    margin: 0 4em;
    width: 16%;
    cursor: pointer;
}

.contact-section p:hover
{
    color: yellow;
}

.contact-section p i
{
  
    margin-right: 0.7em;
}